{{!--   <link href="/icofont/icofont.min.css" rel="stylesheet">
  <link href="/icofont/icofont.css" rel="stylesheet"> --}}
<link rel="stylesheet" href="/css/admin.css">


<div class="container" style="margin-top: 100px;">
  <a href="/sessionLogout">Log out</a>
  <button class="accordion">Quản lý người dùng</button>
  <div class="panel">
    <!--===== CRUD TABLE =======-->

    <body>

      <div class="container-xl">
        <div class="table-responsive">
          <div class="table-wrapper">
            <div class="table-title">
              <div class="row">
                <div class="col-sm-6">
                  <h2>QUẢN LÝ <b>NGƯỜI DÙNG</b></h2>
                </div>
                <div class="col-sm-6">
                  <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i
                      class="icofont-ui-add"></i><span>Thêm người dùng</span></a>
                  <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i
                      class="icofont-ui-delete"></i> <span>Xóa người dùng</span></a>
                </div>
              </div>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th>
                    <span class="custom-checkbox">
                      <input type="checkbox" id="selectAll">
                      <label for="selectAll"></label>
                    </span>
                  </th>
                  <th scope="col">Bệnh Nhân</th>
                  <th scope="col">Tuổi</th>
                  <th scope="col">Địa Điểm</th>
                  <th scope="col">Tình trạng</th>
                  <th scope="col">Quốc tịch</th>
                  <th scope="col">Lựa chọn</th>
                </tr>
              </thead>
              <tbody>
                {{#each statistical}}
                <tr>
                  <td>
                    <span class="custom-checkbox">
                      <input type="checkbox" id="checkbox2" name="options[]" value="1">
                      <label for="checkbox2"></label>
                    </span>
                  </td>
                  <td scope="row">{{patient}}</td>
                  <td scope="row">{{age}}</td>
                  <td scope="row">{{address}}</td>
                  <td scope="row">{{status}}</td>
                  <td scope="row">{{nationality}}</td>
                  <td>
                    {{!-- <a href="">Sửa</a> --}}
                    <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="icofont-edit"
                        data-toggle="tooltip" title="Edit"></i></a>
                    <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="icofont-ui-delete"
                        data-toggle="tooltip" title="Delete"></i></a>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
            {{!-- <div class="clearfix">
              <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
              <ul class="pagination">
                <li class="page-item disabled"><a href="#">Previous</a></li>
                <li class="page-item"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item active"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link">4</a></li>
                <li class="page-item"><a href="#" class="page-link">5</a></li>
                <li class="page-item"><a href="#" class="page-link">Next</a></li>
              </ul>
            </div> --}}
          </div>
        </div>
      </div>
      <!-- Edit Modal HTML -->
      <div id="addEmployeeModal" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <form action="/admin" method="POST">
              <div class="modal-header">
                <h4 class="modal-title">Add Employee</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <input type="text" class="form-control" name="patient" placeholder="Bệnh Nhân">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="age" placeholder="Ngày sinh">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="address" placeholder="Địa Điểm">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="status" placeholder="Tình trạng">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="nationality" placeholder="Quốc tịch">
                </div>
              </div>
              <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                <input type="submit" class="btn btn-success" value="Add">
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Edit Modal HTML -->
      <div id="editEmployeeModal" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <form>
              <div class="modal-header">
                <h4 class="modal-title">Edit Employee</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control" required>
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" class="form-control" required>
                </div>
                <div class="form-group">
                  <label>Address</label>
                  <textarea class="form-control" required></textarea>
                </div>
                <div class="form-group">
                  <label>Phone</label>
                  <input type="text" class="form-control" required>
                </div>
              </div>
              <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                <input type="submit" class="btn btn-info" value="Save">
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Delete Modal HTML -->
      <div id="deleteEmployeeModal" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <form>
              <div class="modal-header">
                <h4 class="modal-title">Delete Employee</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to delete these Records?</p>
                <p class="text-warning"><small>This action cannot be undone.</small></p>
              </div>
              <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                <input type="submit" class="btn btn-danger" value="Delete">
              </div>
            </form>
          </div>
        </div>
      </div>

      <!--==== End CRUD TABLE ====-->
  </div>

  <button class="accordion">Quản lý bảng dữ liệu Firebase</button>
  <div class="panel">

    <!--Retools o day-->

  </div>

  <!-- <button class="accordion">Section 3</button>
      <div class="panel">

      </div> -->

</div>

<script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  }
</script>