<!-- ======= Hero Section ======= -->
<section id="hero">
  <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    <div class="carousel-inner" role="listbox">

      <!-- Slide 1 -->
      <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1.jpg)">
        <div class="container">
          <h2>Chào mừng đến <span> Prevent COVID-19 WEBSITE</span></h2>
          <p>Trang cung cấp thông tin về dịch bệnh viêm đường hô hấp COVID-19</p>
          <a href="/dieucanbiet" class="btn-get-started scrollto">Tìm hiểu thêm</a>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item" style="background-image: url(assets/img/slide/slide-2.jpg)">
        <div class="container">
          <h2>Có thể bạn chưa biết</h2>
          <p>COVID-19 là đại dịch đầu tiên trong lịch sử và thực tế cho thấy đã có nhiều các thông tin sai lệch xung
            quanh cách phòng ngừa và điều trị căn bệnh này. Vậy đâu là sự thật?...</p>
          <a href="/dieucanbiet" class="btn-get-started scrollto">Tìm hiểu thêm</a>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item" style="background-image: url(assets/img/slide/slide-3.jpg)">
        <div class="container">
          <h2>Bạn đã thực sự đeo khẩu trang đúng cách ?</h2>
          <p>Đối với khẩu trang y tế, đeo mặt có màu sẫm hơn ra ngoài, mặt có màu nhạt hơn t hướng vào trong, kẹp nhôm
            hướng lên trên. Khi đeo phải che kín cả mũi lẫn miệng. Không dùng tay sờ vào bề mặt khẩu trang khi đang
            đeo. Không bỏ khẩu trang khi giao tiếp, khi ho, hắt hơi nơi công cộng.</p>
          <a href="https://www.vinmec.com/vi/tin-tuc/thong-tin-suc-khoe/suc-khoe-tong-quat/huong-dan-deo-khau-trang-mat-nao-dung/?link_type=related_posts"
            class="btn-get-started scrollto">Tìm hiểu thêm</a>
        </div>
      </div>

    </div>

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  </div>
</section>
<!-- End #Hero -->

<main id="main">
  <!-- ======= Report Section ======= -->
  <section id="report" class="report">
    <div class="container" data-aos="zoom-in">

      <div class="text-center">
        <h3>Bạn vừa trở về từ vùng có người nhiễm bệnh ?</h3>
        <p>Hãy khai báo y tế ngay !! Tham gia khai báo y tế là bảo vệ sức khỏe bản thân và cộng đồng.</p>
        <a class="report-btn scrollto" href="https://tokhaiyte.vn/form">Khai báo y tế</a>
      </div>

    </div>
  </section>
  <!-- End #Report Section -->

  <!-- ======= News Section ======= -->
  <section id="news" class="news">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>TIN TỨC</h2>
      </div>

      <div class="row" id="news">
        {{#if datahomes}}
        {{#each datahomes}}
        <div class="col-lg-6" data-aos="fade-right">
          <img src="{{image}}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
          <a href="/{{title}}">
            <h3>{{title}}</h3>
          </a>
          <p class="description">
            {{description}}
          </p>
          <div class="section">
            <p>
              {{content}}
            </p>
          </div>
          <p class="text-center"><a class="text-xemthem" href="/{{title}}">Xem thêm</a></p>
        </div>
        {{/each}}
        {{/if}}


      </div>


    </div>
  </section>
  <!-- End #News Section -->


  <!-- ======= Counts Section ======= -->
  <section class="counts">
    <div class="container">

      <div class="section-title">
        <h2>THỐNG KÊ</h2>
      </div>

      <!--Viet Nam-->
      <div class="row counters">
        <div class="col-lg-3 col-6 text-center ">
          <br>
          <h2> VIỆT NAM</h2>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up" style="color: brown;">{{vn.cases}}</span>
          <p>Ca nhiễm bệnh</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up" style="color: forestgreen;">{{vn.recovered}}</span>
          <p>Ca khôi phục</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up" style="color:grey;">{{vn.deaths}}</span>
          <p>Ca tử vong</p>
        </div>

      </div>

      <!--The gioi-->
      <div class="row counters">
        <div class="col-lg-3 col-6 text-center ">
          <br>
          <h2> THẾ GIỚI</h2>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span class="cases" data-toggle="counter-up" style="color: brown;">{{all.cases}}</span>
          <p>Ca nhiễm bệnh</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span class="recovered" data-toggle="counter-up" style="color: forestgreen;">{{all.recovered}}</span>
          <p>Ca khôi phục</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span class="deaths" data-toggle="counter-up" style="color:grey;">{{all.deaths}}</span>
          <p>Ca tử vong</p>
        </div>
      </div>
    </div>
  </section>
  <!-- End #Counts Section -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-2 order-lg-1 vertical-line" data-aos="fade-right">

          <script src="https://code.highcharts.com/maps/highmaps.js"></script>
          <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
          <script src="https://code.highcharts.com/mapdata/countries/vn/vn-all.js"></script>

          <div id="map" style="max-width: 100%; height: 515px;">
            <script>
              var data = [
                ['vn-3655', 0],
                ['vn-qn', 20],
                ['vn-kh', 53],
                ['vn-tg', 0],
                ['vn-bv', 69],
                ['vn-bu', 0],
                ['vn-hc', 0],
                ['vn-br', 1],
                ['vn-st', 0],
                ['vn-pt', 3],
                ['vn-yb', 0],
                ['vn-hd', 32],
                ['vn-bn', 8],
                ['vn-317', 0],
                ['vn-nb', 29],
                ['vn-hm', 7],
                ['vn-ho', 19],
                ['vn-vc', 19],
                ['vn-318', 170],
                ['vn-bg', 0],
                ['vn-tb', 36],
                ['vn-ld', 0],
                ['vn-bp', 0],
                ['vn-py', 0],
                ['vn-bd', 9],
                ['vn-724', 0],
                ['vn-qg', 7],
                ['vn-331', 7],
                ['vn-dt', 22],
                ['vn-la', 0],
                ['vn-3623', 0],
                ['vn-337', 0],
                ['vn-bl', 28],
                ['vn-vl', 0],
                ['vn-tn', 7],
                ['vn-ty', 1],
                ['vn-li', 1],
                ['vn-311', 0],
                ['vn-hg', 15],
                ['vn-nd', 9],
                ['vn-328', 4],
                ['vn-na', 0],
                ['vn-qb', 0],
                ['vn-723', 3],
                ['vn-nt', 3],
                ['vn-6365', 0],
                ['vn-299', 0],
                ['vn-300', 104],
                ['vn-qt', 7],
                ['vn-tt', 2],
                ['vn-da', 0],
                ['vn-ag', 0],
                ['vn-cm', 1],
                ['vn-tv', 5],
                ['vn-cb', 0],
                ['vn-kg', 1],
                ['vn-lo', 2],
                ['vn-db', 0],
                ['vn-ls', 4],
                ['vn-th', 3],
                ['vn-307', 0],
                ['vn-tq', 0],
                ['vn-bi', 12],
                ['vn-333', 10]
              ];

              // Create the chart
              Highcharts.mapChart('map', {
                chart: {
                  map: 'countries/vn/vn-all'
                },
                credits: {
                  enabled: false
                },
                title: {
                  text: 'BẢN ĐỒ DỊCH BỆNH'
                },
                subtitle: {
                  text: ''
                },
                tooltip: {
                  useHTML: true,
                  backgroundColor: '#117b85',
                  borderColor: '#aaa',
                  headerFormat: '',
                  pointFormat: '<div style="text-align: center;text-transform: uppercase;color:white">'
                    + '<span style="text-align: center; "><b>{point.name}</b></span></div>'
                    + ' <div style="color:white; "> <b>Nhiễm bệnh: <span class="badge badge-pill badge-danger">{point.value}</span></b> <br/>'
                },
                mapNavigation: {
                  enabled: true,
                  buttonOptions: {
                    verticalAlign: 'bottom'
                  }
                },
                legend: {
                  title: {
                    text: ''
                  },
                  align: 'center',
                  verticalAlign: 'bottom',
                  floating: false,
                  layout: 'horizontal',
                  valueDecimals: 0,
                  backgroundColor: 'rgba(255,255,255,0.9)',
                  symbolRadius: 0,
                  symbolHeight: 14
                },
                colors: ['#f8f9fa', '#c5c573', '#ff9c07',
                  '#ff7907', '#e01c1c', '#f70202'],

                colorAxis: {
                  dataClassColor: 'category',
                  dataClasses: [{
                    name: '0'
                  }, {
                    from: 1,
                    to: 5
                  }, {
                    from: 6,
                    to: 10
                  }, {
                    from: 11,
                    to: 20
                  }, {
                    from: 21,
                    to: 50
                  }, {
                    from: 50
                  }]
                },

                series: [{
                  data: data,
                  name: 'Số ca nhiễm',
                  states: {
                    hover: {
                      color: '#FF0000'
                    }
                  },
                  dataLabels: {
                    enabled: false,
                    format: '{point.name}'
                  }
                }]
              });
            </script>
          </div>
        </div>

        <!--EVOLUTION SECTION-->
        <div class="db col-lg-6 order-1 order-lg-2" data-aos="zoom-in">
          <a href="/dienbiendich" role="button" class="btn btn-success btn-block">Lọc lịch trình di chuyển bệnh nhân</a>
          <br>
          <h2>DIỄN BIẾN DỊCH BỆNH</h2>
          <div class="container">
            <div class="evolution">
              <div class="widget no-padding blank">
                <div class="main-e evolution-section">
                  <ul>
                    {{#each filter}}
                    <li>
                      <div class="timeline-line">
                        <div class="timeline-section">

                          <div class="timeline-head">
                            <h5>{{date}}</h5>
                          </div>

                          <div class="timeline-content">
                            <p><strong>{{title}}</strong></p>
                            <p>{{content}}</p>
                          </div>

                        </div>
                      </div>
                    </li>
                    {{/each}}
                  </ul>
                  <p class="text-center"><a class="text-xemthem" href="/dienbiendich">Xem thêm</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- End #Features Section -->

  <!-- ======= Patients Section ======= -->
  <section id="patients" class="patients">
    <div class="container">
      <div class="section-title">
        <h2>DANH SÁCH BỆNH NHÂN</h2>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Bệnh nhân</th>
            <th>Tuổi</th>
            <th>Địa điểm</th>
            <th>Tình trạng</th>
            <th>Quốc tịch</th>
          </tr>
        </thead>
        <tbody>
          {{#each people}}
          <tr>
            <td>{{patient}}</td>
            <td>{{age}}</td>
            <td>{{address}}</td>
            <td>{{status}}</td>
            <td>{{nationality}}</td>
          </tr>
          {{/each}}


        </tbody>
      </table>
    </div>
  </section>
  <!-- End Patients Section -->

  <!-- ======= Video Section ======= -->
  <section id="video" class="video">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Video</h2>
      </div>
      <div class="row mb-4">
        <div class="col-lg-3">
          <div class="video-list">
            <tr>
              <div class="embed-responsive embed-responsive-16by9 mb-1">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/uoQK9mwO86c" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
            </tr>
            <tr>
              <a class="text-tletin" href="https://www.youtube.com/watch?v=uoQK9mwO86c">Thứ trưởng Bộ Y tế
                Nguyễn Trường Sơn: "Chúng tôi như xát muối trong lòng khi nhận được tin tử
                vong"</a>
            </tr>

          </div>
        </div>
        <div class="col-lg-3">
          <div class="video-list">
            <tr>
              <div class="embed-responsive embed-responsive-16by9 mb-1">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/EOC7wmstkoI" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
            </tr>
            <tr>
              <a class="text-tletin"
                href="https://ncov.moh.gov.vn/vi/web/guest/-/cach-lay-mau-xet-nghiem-sars-cov-2-theo-huong-dan-cua-bo-y-te">Cách
                lấy mẫu xét nghiệm SARS-CoV-2 theo hướng dẫn của Bộ Y tế</a>
            </tr>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="video-list">
            <tr>
              <div class="embed-responsive embed-responsive-16by9 mb-1">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/XqBBrYtlt38" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
            </tr>
            <tr>
              <a class="text-tletin"
                href="https://ncov.moh.gov.vn/vi/web/guest/-/goc-nhin-chuyen-gia-covid-19-tan-cong-co-the-nhu-the-nao-">Góc
                nhìn chuyên gia: COVID-19 tấn công cơ thể như thế nào?</a>
            </tr>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="video-list">
            <tr>
              <div class="embed-responsive embed-responsive-16by9 mb-1">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/CHU5bqMv3XA" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
            </tr>
            <tr>
              <a class="text-tletin"
                href="https://ncov.moh.gov.vn/vi/web/guest/-/ben-trong-phong-xet-nghiem-rt-pcr-ma-vien-pasteur-tp-hcm-thiet-lap-o-benh-vien-199">Bên
                trong phòng xét nghiệm RT-PCR mà Viện Pasteur TP.HCM thiết lập ở Bệnh viện 199</a>
            </tr>
          </div>
        </div>

      </div>


    </div>
  </section>
  <!-- End #Videos Section -->

  <!--Gallery Section -->
  <section id="gallery" class="gallery">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Có thế bạn cần biết</h2>
        <p>Dưới đây cung cấp những hình ảnh chứa những thông tin cần thiết và tốt nhất để bảo vệ bạn và cộng đồng của
          mình trong đại dịch bệnh COVID-19.</p>
      </div>

      <div class="owl-carousel gallery-carousel" data-aos="fade-up" data-aos-delay="100">
        <a href="assets/img/gallery/gallery-1.jpg" class="venobox" data-gall="gallery-carousel"><img
            src="assets/img/gallery/gallery-1.jpg" alt=""></a>
        <a href="assets/img/gallery/gallery-2.jpg" class="venobox" data-gall="gallery-carousel"><img
            src="assets/img/gallery/gallery-2.jpg" alt=""></a>
        <a href="assets/img/gallery/gallery-3.jpg" class="venobox" data-gall="gallery-carousel"><img
            src="assets/img/gallery/gallery-3.jpg" alt=""></a>
        <a href="assets/img/gallery/gallery-4.jpg" class="venobox" data-gall="gallery-carousel"><img
            src="assets/img/gallery/gallery-4.jpg" alt=""></a>
        <a href="assets/img/gallery/gallery-5.jpg" class="venobox" data-gall="gallery-carousel"><img
            src="assets/img/gallery/gallery-5.jpg" alt=""></a>
        <a href="assets/img/gallery/gallery-6.jpg" class="venobox" data-gall="gallery-carousel"><img
            src="assets/img/gallery/gallery-6.jpg" alt=""></a>
        <a href="assets/img/gallery/gallery-7.jpg" class="venobox" data-gall="gallery-carousel"><img
            src="assets/img/gallery/gallery-7.jpg" alt=""></a>
        <a href="assets/img/gallery/gallery-8.jpg" class="venobox" data-gall="gallery-carousel"><img
            src="assets/img/gallery/gallery-8.jpg" alt=""></a>
      </div>

    </div>
  </section>
  <!-- End #Gallery Section -->

  <!--Frequently Asked Questioins Section-->
  <section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Những câu hỏi thường gặp</h2>
      </div>

      <ul class="faq-list" data-aos="fade-up" data-aos-delay="100">

        <li>
          <a data-toggle="collapse" class="" href="#faq1">COVID-19 là gì ?<i class="icofont-simple-up"></i></a>
          <div id="faq1" class="collapse show" data-parent=".faq-list">
            <p>
              COVID-19 là bệnh truyền nhiễm do coronavirus được phát hiện gần đây nhất gây ra. Loại virus và căn bệnh
              mới này chưa được biết đến trước khi bùng phát ở Vũ Hán, Trung Quốc, vào tháng 12 năm 2019. COVID-19
              hiện là đại dịch ảnh hưởng đến nhiều quốc gia trên toàn cầu.
            </p>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" href="#faq2" class="collapsed">Các triệu chứng của COVID-19 là gì? <i
              class="icofont-simple-up"></i></a>
          <div id="faq2" class="collapse" data-parent=".faq-list">
            <p>
              Các triệu chứng phổ biến nhất của COVID-19 là sốt, ho khan và mệt mỏi. Các triệu chứng khác ít phổ biến
              hơn và có thể ảnh hưởng đến một số bệnh nhân bao gồm đau nhức, nghẹt mũi, nhức đầu, viêm kết mạc, đau
              họng, tiêu chảy, mất vị giác hoặc khứu giác hoặc phát ban trên da hoặc đổi màu ngón tay hoặc ngón chân.
              Các triệu chứng này thường nhẹ và bắt đầu dần dần. Một số người bị nhiễm bệnh nhưng chỉ có các triệu
              chứng rất nhẹ.
            </p>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" href="#faq3" class="collapsed">COVID-19 lây lan như thế nào? <i
              class="icofont-simple-up"></i></a>
          <div id="faq3" class="collapse" data-parent=".faq-list">
            <p>
              Mọi người có thể nhiễm COVID-19 từ những người khác có vi rút. Căn bệnh này chủ yếu lây lan từ người này
              sang người khác qua những giọt nhỏ từ mũi hoặc miệng, những giọt nhỏ này được tống ra ngoài khi người
              mắc bệnh COVID-19 ho, hắt hơi hoặc nói. Những giọt này tương đối nặng, không di chuyển được xa và nhanh
              chóng chìm xuống đất. Mọi người có thể nhiễm COVID-19 nếu hít phải những giọt này từ người bị nhiễm vi
              rút.
            </p>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" href="#faq4" class="collapsed">COVID-19 có thể bị lây nhiễm từ người không có
            triệu chứng không? <i class="icofont-simple-up"></i></a>
          <div id="faq4" class="collapse" data-parent=".faq-list">
            <p>
              COVID-19 chủ yếu lây lan qua các giọt đường hô hấp do người đang ho hoặc có các triệu chứng khác như sốt
              hoặc mệt mỏi tống ra ngoài. Nhiều người bị COVID-19 chỉ gặp các triệu chứng nhẹ. Điều này đặc biệt đúng
              trong giai đoạn đầu của bệnh. Có thể bị nhiễm COVID-19 từ người mới bị ho nhẹ và không cảm thấy bị bệnh.

              Một số báo cáo đã chỉ ra rằng những người không có triệu chứng có thể truyền vi rút. Người ta vẫn chưa
              biết mức độ thường xuyên của nó. WHO đang đánh giá nghiên cứu đang diễn ra về chủ đề này và sẽ tiếp tục
              chia sẻ những phát hiện cập nhật.
            </p>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" href="#faq5" class="collapsed">Tôi nên làm gì khi tiếp xúc với người bị COVID-19?
            <i class="icofont-simple-up"></i></a>
          <div id="faq5" class="collapse" data-parent=".faq-list">
            <p>
              Nếu bạn đã tiếp xúc gần với người có COVID-19, bạn có thể bị nhiễm bệnh.
              Tiếp xúc gần nghĩa là bạn sống chung hoặc ở trong những nơi cách những người mắc bệnh chưa đến 1 mét.
              Trong những trường hợp này, tốt nhất là bạn nên ở nhà.
              Tuy nhiên, nếu bạn sống trong khu vực có bệnh sốt rét hoặc sốt xuất huyết, điều quan trọng là bạn không
              được bỏ qua các triệu chứng sốt. Tìm kiếm sự trợ giúp y tế. Khi đến cơ sở y tế, hãy đeo khẩu trang nếu
              có thể, giữ cách xa người khác ít nhất 1 mét và không dùng tay chạm vào các bề mặt. Nếu đó là một đứa
              trẻ đang bị bệnh, hãy giúp trẻ tuân theo lời khuyên này.
            </p>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" href="#faq6" class="collapsed">Có thuốc chủng ngừa hoặc thuốc điều trị COVID-19
            không? <i class="icofont-simple-up"></i></a>
          <div id="faq6" class="collapse" data-parent=".faq-list">
            <p>
              Mặc dù một số phương pháp điều trị bằng phương pháp tây y, truyền thống hoặc tại nhà có thể mang lại sự
              thoải mái và giảm bớt các triệu chứng của COVID-19 nhẹ, nhưng không có loại thuốc nào được chứng minh là
              có thể ngăn ngừa hoặc chữa khỏi bệnh. WHO không khuyến nghị tự dùng thuốc với bất kỳ loại thuốc nào, kể
              cả thuốc kháng sinh, như một biện pháp phòng ngừa hoặc chữa bệnh cho COVID-19. Tuy nhiên, có một số thử
              nghiệm lâm sàng đang diễn ra đối với cả thuốc tây và thuốc cổ truyền. WHO đang phối hợp các nỗ lực để
              phát triển vắc xin và thuốc để ngăn ngừa và điều trị COVID-19 và sẽ tiếp tục cung cấp thông tin cập nhật
              ngay khi có kết quả nghiên cứu.
            </p>
          </div>
        </li>

      </ul>
      <p class="text-center"><a class="text-xemthem" href="/dieucanbiet">Xem thêm</a></p>
    </div>
  </section>
  <!--End #Frequently Asked Questioins Section-->