
<link rel="stylesheet" href="/assets/css/news.css">

<!-- Main -->
<main id="main">
    <!-- News  -->
    <div class="container" style="margin-top: 100px;">
          <div class="row">  
                   
              
                  <!--Left Section-->
                   <div class="col-lg-9 col-md-9 col-9"> 
                      <div class="container-md" id="new"> 
                         
                    {{#each datanews}}
    
                        <div class="row mb-1">
                            <!--Hien thi hinh anh-->
                            <div class="col-sm-6">
                            <a  href="/tintuc/{{title}}"><img class="news-img" src="{{image}}" alt="tintuc"></a>
                            </div>
                            <!--Hien thi thong tin-->
                            <div class="col-sm-6">
                            <div class="news-title" style="font-size: 0.9rem;">
                                <a href="/tintuc/{{title}}">{{title}}</a>
                                <br>
                                <strong class="text-muted" style="font-size: 10px;">{{date}}</strong> </div>
                            <div class="caption">
                            {{content}}
                            </div>
                            </div>
                        </div>
                 {{/each}}      
                          
           
              
                  
                      
                  </div>
                  <!--End #Left Section-->
  
                  <!--Right Section-->
                  <div class="col-lg-3">
  
                  </div>
                  <!--End #Right Section-->
              </div>
  
          </div>
  
          <!--Pagination-->
          <!-- <div class="container"> -->
            
          <!--End #Pagination-->
      </div>
<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-database.js"></script>




    <!--End #News-->
</main>
<!-- End #main -->